{% extends "layout.html.twig" %}

{% block title %}
    Bienvenue sur StatY Foot! Match en direct.
{% endblock %}




{% block content %}
    <!--MAIN CONTENT ------------------------------------------------------------------------------->
    <main>
        <div id="maincontent" class="row">
            <div id="maincontentleft" class="col-lg-12">

                <div id="matchdirect" class="row">
                    <div id="contentmatchdirect" class="col-12">
                        <ul class="list-group">
                            <li id="titlematchdirect" class="list-group-item"  data-scroll>Toutes les ligues</li>
                            {% for league_id in leaguecategory %}
                                <a class="list-group-item" id="linkrow" href="">
                                    <span>
                                        <img height="25px" src="{{ league_id.logo }}" alt="{{ league_id.name}} logo"> {{ league_id.name~ ' ' ~league_id.country }}</span>
                                </a>
                            {% endfor %}
                        </ul>
                    </div><!--/id contentmatchdirect + class col-12 ----->
                </div><!--/id matchdirect + class row-->
            </div><!--/id maintcontentleft + class col-lg-12-->

        </div><!--/ maincontent row-->
    </main>
    </div><!-- class container-->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
    <script>
    </script>
{% endblock %}
