{{ form(form, {attr:{novalidate: 'novalidate' }}) }}

<div class="form-group row my-0">
    <div class="col-sm">
        <textarea class="form-control mr-auto mb-1" placeholder="Tapez ici votre commentaire"></textarea>
    </div>
    <div class="col-auto mb-1 close">
        <button class="btn btn-custom"><i class="far fa-comment"></i></button>
    </div>
</div>