<!-- CONTACT -------------------------------------------------->
<footer>
    <div class="container">
        <div class="row">
            <div id="footerpart" class="col-lg-4">
                <h5>Contact</h5>
                <hr class="d-none d-lg-block">
                <p>StatY Foot &copy; <br>
                    contact@statyfoot.com</p>
                <span>On est tous foot de StatY Foot!</span><br><br>
                <hr class="d-md-none">
            </div>
            <div id="footerpart" class="social col-lg-4">
                <h5>Retrouvez nous</h5>
                <hr class="d-none d-lg-block">
                <a href=""><i class="fab fa-twitter-square fa-2x"></i></a>
                <a href=""><i class="fab fa-facebook fa-2x"></i></a>
                <hr class="d-md-none">
            </div>
            <div id="footerpart" class="col-lg-4">
                <h5>Crédit</h5>
                <hr class="d-none d-lg-block">
                <p>Merci Hugo</p>
            </div>
        </div>
    </div><!-- /container --->
</footer>