<!-- CONTACT -------------------------------------------------->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h5>Contact</h5>
                <hr>
                <p>StatY Foot &copy; <br>
                    contact@statyfoot.com</p>
            </div>
            <div class="social col-4">
                <h5>Retrouvez nous</h5>
                <hr>
                <a href=""><i class="fab fa-twitter-square fa-2x"></i></a>
                <a href=""><i class="fab fa-facebook fa-2x"></i></a>


            </div>
            <div class="col-4">
                <h5>Crédit</h5>
                <hr>
                <p>Merci Hugo</p>
            </div>
        </div>
    </div><!-- /container --->
</footer>