
<!-- BANNER ---------------------------------------------------------------------------------------->
<div class="container">
    <header>
        <div class="row">
            <a href="#" class="col-12 d-none d-sm-block">
                <h1>StatyFoot</h1>
            </a><!--/a img banner -->
            <div class="d-none d-sm-block col-4 offset-7" id="reseaux" align="right">
            </div><!--/div reseau banner -->
        </div><!-- /ROW Banner --->
    </header>
</div><!--/class container banner -->
