
<div class="container color">
    <header>
        <nav class="navbar navbar-expand-md sticky-top">

            <a class="navbar-brand" href="/index.php">

            <a class="navbar-brand" href="/">

                <img src="../images/logo.png" width="30" height="30" class="d-inline-block align-center" alt="">
                StatY Foot
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-football-ball"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="">Teams</a>
                    <a class="nav-item nav-link active" href="/category/todaymatch">todaymatch</a>
                    <a class="nav-item nav-link active" href="/category/leagues">Ligues</a>
                    <a class="nav-item nav-link active" href="#">Pays</a>
                    <a class="nav-item nav-link active" href="#">Articles</a>
                    <a class="nav-item nav-link active" href="/ajouter-un-membre">Mon Compte</a>
                </div>
            </div>
        </nav>

    </header>