<div id="maincontentright" class="col-md-4">
    <div id="sidebarinfo" class="row">
        <div id="contentsidebar" class="col-12">
            <!-- Match -->
            <ul class="list-group">
                <li id="titlesidebar" class="list-group-item">Matchs</li>
                <li class="list-group-item">
                    <a href="#">
                        <img id="logomatchteam" alt="logoequipe" src="logo.png" height="25px">
                        <span class="col-md-4 col-5 text-left">Chelsea</span>
                        <span class="col-2 text-center justify-content-center">V</span>
                        -
                        <span class="col-2 text-center justify-content-center" >D</span>
                        <span class="col-md-4 col-5 text-right">Juventus</span>
                        <img id="logomatchteam" alt="logoequipe" src="logo.png" height="25px">
                    </a>
                </li><!-- /ligne-->

                <li id="footersidebar" class="list-group-item">
                    <a href="#">
                        voir tous les matchs
                    </a>
                </li><!-- /dernière ligne-->

            </ul>
            <!-- Classement de la ligue -->
            <ul class="list-group">
                <li id="titlesidebar" class="list-group-item">Classement dans la ligue</li>
                <li class="list-group-item">
                    <a href="#">
                        <img id="logomatchteam" alt="logoequipe" src="logo.png" height="25px">
                        <span class="text-left">
                                        Manchester
                                    </span>
                        <span class="ligue_data">
                                        V : 20 | D : 10 | Pts : 78
                                    </span>
                    </a>
                </li><!-- /ligne-->

                <li id="footersidebar" class="list-group-item">
                    <a href="#">
                        voir le classement complet
                    </a>
                </li><!-- /dernière ligne-->

            </ul>
            <!-- Classement de la ligue -->
            <ul class="list-group">
                <li id="titlesidebar" class="list-group-item">équipes</li>
                <li class="list-group-item">
                    <a href="#">
                        <img id="logomatchteam" alt="logoequipe" src="logo.png" height="25px">
                        <span class="col-md-12 col-12 text-left">RC Lens
                                    </span>
                    </a>
                </li><!-- /ligne-->
                <li id="footersidebar" class="list-group-item">
                    <a href="#">
                        voir toutes les équipes
                    </a>
                </li><!-- /dernière ligne-->
            </ul>


        </div><!--/id contentsidebar + class col-12 -->
    </div><!-- /id sidebarinfo + class row-->
</div><!-- sidebar col-4 ---->