
        <div class="item">
            <img id="imgcarousel" alt="{{ article.titre }}"
                 src="{{ asset('images/article/' ~ article.featureImage) }}" class="img-responsive"/>
        </div>
