<div>
    <article class="spotlight-item">
        <div class="spotlight-img">
            <img alt="{{ article.titre }}"
                 src="{{ asset('images/article/' ~ article.featureImage) }}" class="img-responsive"/>
        </div>
    </article>
</div>
<br>